<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uva.Gould.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Uva.Gould.Properties.Settings>
            <setting name="DotPath" serializeAs="String">
                <value>C:\Program Files (x86)\Graphviz2.38\bin\dot.exe</value>
            </setting>
            <setting name="AttributeBindingFlags" serializeAs="String">
                <value>Instance, Static, Public, NonPublic</value>
            </setting>
            <setting name="VisitorMethodName" serializeAs="String">
                <value>Visit</value>
            </setting>
            <setting name="GraphFont" serializeAs="String">
                <value>Helvetica Bold</value>
            </setting>
            <setting name="GraphFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="GraphFontSmallSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="GraphFontSmall" serializeAs="String">
                <value>Helvetica Bold</value>
            </setting>
        </Uva.Gould.Properties.Settings>
        <Uva.Gould.Settings>
            <setting name="AttributeBindingFlags" serializeAs="String">
                <value>Instance, Static, Public, NonPublic</value>
            </setting>
            <setting name="VisitorMethodName" serializeAs="String">
                <value>Visit</value>
            </setting>
        </Uva.Gould.Settings>
    </userSettings>
</configuration>